{% extends "base.html" %}
{% block page_title %}
    Search
{% endblock page_title %}
{% block content %}
    <div class="text-center">
        <h1>Search CentOS packages online</h1>
        <p class="lead"><a href="http://centos-packages.com">centos-packages.com</a></p>
    </div>
    <div class="search-area well">
        <form class="search-box text-center" role="form" method="post" action="{{ url_for('search', os_version=os_version) }}">
            <div class="form-group">
                <input class="form-control input-lg" type="text" name="search_query" spellcheck="false" id="search-input">
            </div>
            <button type="submit" class="btn-lg btn-primary">Go</button>
        </form>
    <ul class="list-inline search-support">
        <li><a>Search help</a></li>
        <li><a href="{{ url_for('all_packages', os_version=os_version) }}">All packages</a></li>
    </ul>
    </div>
{% endblock content %}
{% block scripts %}
{{ super() }}
<script>
    $('#search-input').focus();
</script>
{% endblock scripts %}

