{% extends "base.html" %}
{% block content %}
    <ul class="breadcrumb my-breadcrumbs">
        <li>
            <a href="{{ url_for('package', os_version=os_version, package_name=versions.0.name) }}">{{ versions.0.name }}</a>
        </li>
        <li class="active">Versions</li>
    </ul>
    <div class="col-md-12">
        <h1>{{ versions.0.name }}</h1>

        <p class="lead">All package versions (in the current x86_64 distribution) in descending order.</p>
        <table class="table table-striped package-versions-table">
            <thead>
            <tr>
                <th>Version (release)</th>
                <th>Repository</th>
                <th>Architecture</th>
            </tr>
            </thead>
            <tbody>
            {% for package in versions %}
                <tr>
                    <td>{{ package.version }} ({{ package.release }})</td>
                    <td>{{ pretty_repo_name(package.repo) }}</td>
                    <td>{{ package.arch }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}
